* {
  font-family: "monospace";
  font-size: 16px;
  border-radius: 0;
  min-height: 0;
  border: none;
}

#tags {
  background-color: rgba(24, 24, 37, 1);
  border: none;
  box-shadow: none;
}

#waybar {
  background-color: #101116;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#tray,
#window,
#clock,
#custom-power,
#custom-reboot,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#custom-temperature,
#memory,
#cpu,
#network,
#custom-vpn,
#custom-inhibitor,
#custom-lock {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 10px;
  background-color: #1e1e2e;
  color: #181825;
  font-weight: bold;
}

#custom-lock,
#custom-power {
  padding: 6px 13px 6px 10px;
}

#tray {
  background-color: #080815;
}

#custom-inhibitor,
#clock {
  background: none;
  color: #ffffff;
}
#custom-power {
  background-color: #f38ba8;
}
#custom-reboot {
  background-color: #a6e3a1;
}
#bluetooth {
  background-color: #f9e2af;
}
#battery {
  background-color: #cba6f7;
}
#pulseaudio {
  background-color: #89dceb;
}
#backlight {
  background-color: #d9cb64;
}
#custom-temperature {
  background-color: #74c7ec;
}
#memory {
  background-color: #f7768e;
}
#cpu {
  background-color: #f38ba8;
}
#network {
  background-color: #fab387;
}
#custom-vpn,
#custom-lock {
  background-color: #94e2d5;
}
#window {
  background-color: #74c7ec;
}

#waybar.hidden {
  opacity: 0.5;
}

#tags button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 14px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: rgba(36, 36, 52, 1);
  color: #cdd6f4;
  font-weight: bold;
}

#tags button.focused {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#tags button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

tooltip {
  border-radius: 8px;
  padding: 16px;
  background-color: #131822;
  color: #c0c0c0;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
  color: #c0c0c0;
}
